In [1]:
import pandas as pd
import os
import csv
import cyrtranslit

In [2]:
path = "C:\\Users\\mace\\OneDrive - Zühlke Engineering AG\\Documents\\master-thesis-code\\raw data\\Potrošačka korpa\\extracted"
filelist = []

for root, dirs, files in os.walk(path):
    for file in files:
        filelist.append(os.path.join(root, file))

for file in filelist:
    if 'kupovna' in str(file).lower():
        print(str(file).lower())
        filename=str(file).lower().split('\\')[-1]
        df=pd.read_csv(file,skiprows=5, error_bad_lines=False)
        break
        
def transliterate_serbian(col):
    return cyrtranslit.to_latin(col,'sr')

In [1384]:
struktura_list=[a for a in filelist if 'korpa' in str(file).lower()]

In [1588]:
file=struktura_list.pop()
print(file)

C:\Users\mace\OneDrive - Zühlke Engineering AG\Documents\master-thesis-code\raw data\Potrošačka korpa\extracted\Novembar 2015\Minimalna potrosacka korpa Novembar 2015.csv

In [ ]:
filename=str(file).lower().split('\\')[-1]
df=pd.read_csv(file,skiprows=7, error_bad_lines=False)
df[['Iznos Nove Prosecne korpe','Iznos Minimalne Potrosacke korpe',]]=df['3 4'].str.split(' ', expand=True)
df.rename({'1':'Grad','2':'Prosecna neto zarada po zaposlenom'}, inplace=True,axis=1)
#df.columns[2]='Procenat Minimalne Potrosacke korpe'
df.drop('3 4',axis=1,inplace=True)
df[['Odnos Zarade i Prosecne korpe','Odnos Zarade i Minimalne korpe']]=df['5 6'].str.split(' ', expand=True)
df.drop('5 6',axis=1,inplace=True)
df['Grad']=df['Grad'].apply(transliterate_serbian)
pretty_path = "C:\\Users\\mace\\OneDrive - Zühlke Engineering AG\\Documents\\master-thesis-code\\raw data\\Potrošačka korpa\\extracted\\clean\\"
df.to_csv(f"{pretty_path}{filename}")

In [1598]:
df.head()

,Grad,Prosecna neto zarada po zaposlenom,Iznos Nove Prosecne korpe,Iznos Minimalne Potrosacke korpe,Odnos Zarade i Prosecne korpe,Odnos Zarade i Minimalne korpe
0,Beograd,66.951,"74.959,57","43.366,93","1,12","0,65"
1,Novi Sad,59.349,"79.472,80","39.175,02","1,34","0,66"
2,Republika Srbija,54.115,"71.481,08","37.029,08","1,32","0,68"
3,Pančevo,53.513,"77.862,72","38.537,40","1,46","0,72"
4,Smederevo,52.711,"65.880,83","34.597,83","1,25","0,66"