In [1]:
import pandas as pd
import os
import csv
import re
import cyrtranslit

In [30]:
def transliterate_serbian(col):
    return cyrtranslit.to_latin(col,'sr')

In [3]:
path = "C:\\Users\\mace\\OneDrive - Zühlke Engineering AG\\Documents\\master-thesis-code\\raw data\\Potrošačka korpa\\extracted"
filelist = []

for root, dirs, files in os.walk(path):
    for file in files:
        filelist.append(os.path.join(root, file))
        
for file in filelist:
    if 'plat' in str(file).lower():
        print(str(file).lower())
        filename=str(file).lower().split('\\')[-1]
        df=pd.read_csv(file,skiprows=5, error_bad_lines=False)
        break
        
struktura_list=[a for a in filelist if 'plat' in file.lower()]

In [ ]:
file=struktura_list.pop()
print(file)

In [1614]:
filename=str(file).lower().split('\\')[-1]
mesec=filename.replace('.csv','').strip().split(' ')[-2].lower()
godina=int(re.findall('\d+',filename)[0])
df=pd.read_csv(file,skiprows=3, error_bad_lines=False)
df.drop('1',axis=1,inplace=True)
df.head()
start=["Artikal",f"{mesec} 2000"]
column_names=[f"{mesec} {god}" for god in range(godina-8,godina+1)]
[start.append(e) for e in column_names]
df.columns=start
df['Artikal']=df['Artikal'].apply(transliterate_serbian)
pretty_path = "C:\\Users\\mace\\OneDrive - Zühlke Engineering AG\\Documents\\master-thesis-code\\raw data\\Potrošačka korpa\\extracted\\clean\\"
df.to_csv(f"{pretty_path}{filename}")

C:\Users\mace\AppData\Local\Temp\ipykernel_13868\1618457523.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df=pd.read_csv(file,skiprows=3, error_bad_lines=False)

In [1615]:
df.head()

,Artikal,april 2000,april 2003,april 2004,april 2005,april 2006,april 2007,april 2008,april 2009,april 2010,april 2011
0,Frižider,"4,5","1,4","1,2","1,1","0,9","0,7","0,6","0,6","0,6","0,6"
1,Električni štednjak,"3,8","1,6","1,2","1,0","0,9","0,7","0,6","0,6","0,5","0,5"
2,Maš. za pranje rublja,"6,4","2,0","1,6","1,4","1,1","0,8","0,7","0,7","0,6","0,7"
3,Kolor TV (56 cm),"4,5","1,4","1,1","0,9","0,7","0,5","0,8","0,5","0,3","0,3"
4,"Škoda Fabija 1,2*","89,5","24,9","20,5","18,6","18,9","15,0","12,0","26,3",23,"22,8"